html, 
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #040404;
}

body {
	background: #040404; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#595959, #040404); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#595959, #040404); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#595959, #040404); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#595959, #040404); /* Standard syntax */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #999;
}

.grid {
	width: 100%;
	max-width: 1159px;
	margin: 0 auto;
	padding-top: 25%;
}
article {
	/*all articles and videos*/
	position: relative;
	float: left;
	width: 98%;
	height: 278px;
	margin: 1%;
	filter: grayscale(100%);
}
h2,
time{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(0,0,0,0.5);
	font-size: 20px;
	text-transform: uppercase;
}
time{
	text-align: right;
	font-size: 16px;
}

article.video::before {
	content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: url("../images/youtube.png") no-repeat;
    background-size: contain;
}
article.video::after {
	content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    background: url("../images/video-play.gif");
    background-size: cover;
}
article.video:hover::after {
	content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    background: url("../images/video-hover.png");
    background-size: cover;
}
@media screen and (min-width: 768px) {
	article {
		width: 48%;
	}
	h2 {
		font-size: 16px;
	}
	time {
		font-size: 12px;
	}
}
@media screen and (min-width: 960px) {
	article {
		width: 23%;
	}
	article:first-child {
		width: 48%;
	}
}